<div class="container mt-4">
  <h1>Edit Appointment</h1>
  <%= render 'form', appointment: appointment %>
  <%= link_to 'Cancel', appointment_path(@appointment), class: "btn btn-secondary mt-3" %>
</div>